@model MyMvcPostgresApp.ViewModels.EditUserViewModel

<h2>Edytuj użytkownika</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<form asp-action="Edit" asp-controller="Admin" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-3">
        <label asp-for="Login"></label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Role">Rola</label><br />
        <div>
            <label><input type="radio" asp-for="Role" value="Pracownik" /> Pracownik</label><br />
            <label><input type="radio" asp-for="Role" value="Kierownik" /> Kierownik</label><br />
            <label><input type="radio" asp-for="Role" value="HR" /> HR</label><br />
            <label><input type="radio" asp-for="Role" value="Stażysta" /> Stażysta</label><br />
            <label><input type="radio" asp-for="Role" value="Admin" /> Admin</label>
        </div>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Zapisz</button>
    <a asp-action="Users" asp-controller="Admin" class="btn btn-secondary">Anuluj</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}